<div data-rebuy-component="cart-items" data-rebuy-component-id="cart_items">
  <ul
    v-if="hasItems()"
    data-smartcart-items
    tabindex="0"
    role="list"
  >
    <li
      class="rebuy-cart__flyout-item"
      v-for="item in items()"
      v-if="!isHiddenItem(item)"
      :key="item.key"
      v-bind:class="[ 'product-' + item.handle, itemProductTagsClasses(item), itemPropertyClasses(item) ]"
      aria-label="product"
      role="listitem"
    >
      <!-- Image -->
      <div class="rebuy-cart__flyout-item-media">
        <a
          v-bind:aria-disabled="!isItemClickable(item)"
          v-bind:aria-label="itemLinkLabel(item)"
          v-bind:class="[{ 'click-disabled': !isItemClickable(item) }]"
          v-bind:href="isItemClickable(item) ? itemURL(item) : null"
        >
          <img
            v-bind:src="sizeImage(item.image, '240x240')"
            v-bind:alt="itemImageAlt(item)"
          />
        </a>
      </div>

      <!-- Item Info -->
      <div class="rebuy-cart__flyout-item-info">
        <!-- Product Title -->
        <a
          role="heading"
          aria-level="5"
          v-bind:aria-disabled="!isItemClickable(item)"
          v-bind:class="[
            'rebuy-cart__flyout-item-product-title',
            { 'click-disabled': !isItemClickable(item) }
          ]"
          v-bind:href="isItemClickable(item) ? itemURL(item) : null"
          v-html="item.product_title"
          v-bind:tabindex="isItemClickable(item) ? 0 : -1"
        ></a>

        <!-- Variant Title -->
        <div
          class="rebuy-cart__flyout-item-variant-title"
          v-html="item.variant_title"
          v-if="item.variant_title"
        ></div>

        <!-- Discount Message -->
        <div
          class="rebuy-cart__flyout-item-discount-message"
          v-if="hasLineItemDiscount(item)"
          v-html="lineItemDiscountMessage(item)"
        ></div>

        <!-- Item Properties -->
        <div
          class="rebuy-cart__flyout-item-properties"
          v-if="hasItemProperties(item)"
        >
          <div
            class="rebuy-cart__flyout-item-property rebuy-cart__flyout-item-property--delivery-frequency"
            v-if="itemDeliveryFrequency(item)"
            v-html="itemDeliveryFrequency(item)"
          ></div>
          <div
            class="rebuy-cart__flyout-item-property"
            v-for="property in itemProperties(item)"
            v-bind:class="[ itemPropertyKeyClass(property), itemPropertyValueClass(property) ]"
          >
            <span
              class="rebuy-cart__flyout-item-property-name"
              v-html="property.key"
            ></span>
            <span class="rebuy-cart__flyout-item-property-separator">
              :
            </span>
            <span
              class="rebuy-cart__flyout-item-property-value"
              v-html="property.value"
            ></span>
          </div>
        </div>

        <!-- Remove Item -->
        <button
          class="rebuy-cart__flyout-item-remove"
          type="button"
          v-bind:aria-label="'Remove ' + item.product_title"
          v-on:click="removeItem(item)"
        >
          <rebuy-icon
            v-bind:name="(item.status == 'removing') ? 'refresh-cw' : 'trash'"
            v-bind:fast-spin="item.status == 'removing'"
          ></rebuy-icon>
        </button>

        <!-- Quantity -->
        <div class="rebuy-cart__flyout-item-quantity">
          <div
            class="rebuy-cart__flyout-item-quantity-widget"
            v-if="hideQuantitySelectors && !hideQuantitySelectors(item)"
          >
            <button
              class="rebuy-cart__flyout-item-quantity-widget-button"
              v-bind:aria-label="'Decrease quantity of ' + item.product_title"
              v-on:click="decreaseItem(item)"
              v-bind:disabled="!isQuantityEnabled(item)"
              type="button"
            >
              <rebuy-icon
                v-bind:name="(item.status == 'decreasing') ? 'refresh-cw' : 'minus'"
                v-bind:fast-spin="item.status == 'decreasing'"
              ></rebuy-icon>
            </button>

            <span
              class="rebuy-cart__flyout-item-quantity-widget-label"
            >
              <span class="sr-only">Quantity of {{ item.product_title }}</span>
              {{ item.quantity }}
            </span>

            <button
              class="rebuy-cart__flyout-item-quantity-widget-button"
              v-bind:aria-label="'Increase quantity of ' + item.product_title"
              v-on:click="increaseItem(item)"
              v-bind:disabled="!isQuantityEnabled(item)"
              type="button"
            >
              <rebuy-icon
                v-bind:name="(item.status == 'increasing') ? 'refresh-cw' : 'plus'"
                v-bind:fast-spin="item.status == 'increasing'"
              ></rebuy-icon>
            </button>
          </div>
        </div>

        <!-- Pricing -->
        <div class="rebuy-cart__flyout-item-price">
          <div v-if="itemHasDiscount(item)">
            <span
              class="rebuy-money sale"
            >
              <span class="sr-only">Sale price</span>
              <span v-html="formatMoney(itemPrice(item))"></span>
            </span>
            <span
              class="rebuy-money compare-at"
            >
              <span class="sr-only">Original price</span>
              <span v-html="formatMoney(compareAtPrice(item))"></span>
            </span>
          </div>
          <div v-if="!itemHasDiscount(item)">
            <span
              class="rebuy-money"
            >
              <span class="sr-only">Price</span>
              <span v-html="formatMoney(itemPrice(item))"></span>
            </span>
          </div>
        </div>

        <!-- Bundle Details -->
        <div class="rebuy-cart__flyout-item-bundle" v-if="itemIsBundle(item) && !hideBundleOptions(item)">

          <!-- Expand / Collapse Bundle Details -->
          <button
            v-if="itemBundleLength(item) > 0"
            class="rebuy-cart__flyout-item-bundle-toggle-button"
            v-on:click="toggleActiveBundle(item)"
            type="button"
            v-bind:aria-label="(isBundleVisible(item) ? 'Collapse' : 'Expand') + ' bundle of ' + item.product_title"
          >
            {{ isBundleVisible(item) ? 'Hide' : 'Show' }}
            <span v-html="itemBundleLength(item)"></span>
            items
            <span class="rebuy-cart__flyout-bundle-chev-icon">
              <rebuy-icon v-bind:name="isBundleVisible(item) ? 'chevron-up' : 'chevron-down'"></rebuy-icon>
            </span>
          </button>

          <ul
            class="rebuy-cart__flyout-item-bundle-children"
            v-if="itemBundleLength(item) > 0 && isBundleVisible(item)"
            tabindex="0"
          >
            <li class="rebuy-cart__flyout-item-bundle-child" v-for="(option, index) in item.options_with_values">
              <div class="rebuy-cart__flyout-item-bundle-child-left">
                <div class="rebuy-cart__flyout-item-bundle-image-container">
                  <img
                    v-bind:src="getBundleOptionImage(item.product, option, index)"
                    v-bind:alt="childBundleTitle(option)"
                    class="rebuy-cart__flyout-item-bundle-image"
                  />
                </div>
              </div>

              <div class="rebuy-cart__flyout-item-bundle-child-right">
                <h5 v-html="childBundleTitle(option)" class="rebuy-cart__flyout-item-bundle-title"></h5>
                <p v-html="option.value" class="rebuy-cart__flyout-item-bundle-value"></p>
              </div>
            </li>
          </ul>
        </div>
        <!-- End Bundle Details -->

        <!-- Nested Cart Items -->
        <div v-if="displayNestedItems(item)" class="rebuy-cart__flyout-item-nested-items">
          <!-- Toggle Button -->
          <button
            v-if="nestedCartItemsDropdownEnabled()"
            class="rebuy-cart__flyout-item-nested-items-toggle-button"
            v-on:click="toggleNestedItemsDropdown(item)"
            type="button"
            v-bind:aria-label="nestedItemsAriaLabel(item)"
          >
            <span v-html="nestedButtonLabel(item)"></span>
          </button>

          <!-- Nested Items List -->
          <ul
            v-bind:class="[
              'rebuy-cart__flyout-item-nested-items-list',
              nestedItemsListClasses(item)
            ]"
          >
            <li
              class="rebuy-cart__flyout-item"
              v-for="childItem in item.children"
              v-if="!isHiddenItem(childItem)"
              :key="childItem.key"
              v-bind:class="[ 'product-' + childItem.handle, itemProductTagsClasses(childItem), itemPropertyClasses(childItem) ]"
              aria-label="product"
              role="listitem"
            >
            <!-- Image -->
            <div class="rebuy-cart__flyout-item-media-nested">
              <a
                v-bind:href="itemURL(childItem)"
                v-bind:aria-label="itemLinkLabel(childItem)"
              >
                <img
                  v-bind:src="sizeImage(childItem.image, '240x240')"
                  v-bind:alt="itemImageAlt(childItem)"
                />
              </a>
            </div>

            <!-- Item Info -->
            <div class="rebuy-cart__flyout-item-info">
              <!-- Product Title -->
              <a
                role="heading"
                aria-level="5"
                class="rebuy-cart__flyout-item-product-title"
                v-bind:href="itemURL(childItem)"
                v-html="childItem.product_title"
              ></a>

              <!-- Variant Title -->
              <div
                class="rebuy-cart__flyout-item-variant-title"
                v-html="childItem.variant_title"
                v-if="childItem.variant_title"
              ></div>

              <!-- Discount Message -->
              <div
                class="rebuy-cart__flyout-item-discount-message"
                v-if="hasLineItemDiscount(childItem)"
                v-html="lineItemDiscountMessage(childItem)"
              ></div>

              <!-- Item Properties -->
              <div
                class="rebuy-cart__flyout-item-properties"
                v-if="hasItemProperties(childItem)"
              >
                <div
                  class="rebuy-cart__flyout-item-property rebuy-cart__flyout-item-property--delivery-frequency"
                  v-if="itemDeliveryFrequency(childItem)"
                  v-html="itemDeliveryFrequency(childItem)"
                ></div>
                <div
                  class="rebuy-cart__flyout-item-property"
                  v-for="property in itemProperties(childItem)"
                  v-bind:class="[ itemPropertyKeyClass(property), itemPropertyValueClass(property) ]"
                >
                  <span
                    class="rebuy-cart__flyout-item-property-name"
                    v-html="property.key"
                  ></span>
                  <span class="rebuy-cart__flyout-item-property-separator">
                    :
                  </span>
                  <span
                    class="rebuy-cart__flyout-item-property-value"
                    v-html="property.value"
                  ></span>
                </div>
              </div>

              <!-- Remove Item -->
              <button
                class="rebuy-cart__flyout-item-remove"
                type="button"
                v-bind:aria-label="'Remove ' + childItem.product_title"
                v-on:click="removeItem(childItem)"
              >
                <rebuy-icon
                  v-bind:name="(childItem.status == 'removing') ? 'refresh-cw' : 'trash'"
                  v-bind:fast-spin="childItem.status == 'removing'"
                ></rebuy-icon>
              </button>

              <!-- Quantity -->
              <div class="rebuy-cart__flyout-item-quantity">
                <div
                  class="rebuy-cart__flyout-item-quantity-widget"
                  v-if="hideQuantitySelectors && !hideQuantitySelectors(childItem)"
                >
                  <button
                    class="rebuy-cart__flyout-item-quantity-widget-button"
                    v-bind:aria-label="'Decrease quantity of ' + childItem.product_title"
                    v-on:click="decreaseItem(childItem)"
                    v-bind:disabled="!isQuantityEnabled(childItem)"
                    type="button"
                  >
                    <rebuy-icon
                      v-bind:name="(childItem.status == 'decreasing') ? 'refresh-cw' : 'minus'"
                      v-bind:fast-spin="childItem.status == 'decreasing'"
                    ></rebuy-icon>
                  </button>

                  <span
                    class="rebuy-cart__flyout-item-quantity-widget-label"
                  >
                    <span class="sr-only">Quantity of {{ childItem.product_title }}</span>
                    {{ childItem.quantity }}
                  </span>

                  <button
                    class="rebuy-cart__flyout-item-quantity-widget-button"
                    v-bind:aria-label="'Increase quantity of ' + childItem.product_title"
                    v-on:click="increaseItem(childItem)"
                    v-bind:disabled="!isQuantityEnabled(childItem)"
                    type="button"
                  >
                    <rebuy-icon
                      v-bind:name="(childItem.status == 'increasing') ? 'refresh-cw' : 'plus'"
                      v-bind:fast-spin="childItem.status == 'increasing'"
                    ></rebuy-icon>
                  </button>
                </div>
              </div>

              <!-- Pricing -->
              <div class="rebuy-cart__flyout-item-price">
                <div v-if="itemHasDiscount(childItem)">
                  <span
                    class="rebuy-money sale"
                  >
                    <span class="sr-only">Sale price</span>
                    <span v-html="formatMoney(itemPrice(childItem))"></span>
                  </span>
                  <span
                    class="rebuy-money compare-at"
                  >
                    <span class="sr-only">Original price</span>
                    <span v-html="formatMoney(compareAtPrice(childItem))"></span>
                  </span>
                </div>
                <div v-if="!itemHasDiscount(childItem)">
                  <span
                    class="rebuy-money"
                  >
                    <span class="sr-only">Price</span>
                    <span v-html="formatMoney(itemPrice(childItem))"></span>
                  </span>
                </div>
              </div>
            </div>
            <!-- End Info -->
            </li>
          </ul>
        </div>
        <!-- End Nested Cart Items -->

      </div>
      <!-- End Info -->

      <!-- Buy More Save More -->
      <div
        v-if="itemHasBMSM(item) && bMSMFinalTierNotReached(item)"
        class="rebuy-cart__flyout-item-buy-more-save-more"
      >
        <div
          v-if="hasBMSMButtons()"
          class="rebuy-cart__flyout-item-buy-more-save-more-container"
        >
          <div
            v-for="tier in getBMSMTiers()"
            class="rebuy-cart__flyout-item-buy-more-save-more-button-container"
            v-if="tier.quantity > item.quantity"
          >
            <button
              v-on:click="adjustBMSMQuantity(item, tier)"
              class="rebuy-button rebuy-cart__flyout-item-buy-more-save-more-button"
              v-bind:aria-label="getBMSMButtonText(tier)"
            >
              <span v-html="getBMSMButtonText(tier)"></span>
            </button>
          </div>
        </div>

        <span
          v-if="!hasBMSMButtons()"
          class="rebuy-cart__flyout-buy-more-save-more-dynamic-message-text"
          v-html="buyMoreSaveMoreDynamicText(item)"
        ></span>
      </div>
      <!-- End Buy More Save More -->

      <!-- Switch to Subscription -->
      <div
        class="rebuy-cart__flyout-item-subscription"
        v-if="hasSwitchToSubscription(item)"
      >
        <button
          class="rebuy-button outline"
          v-if="!item.product.subscription || item.status == 'downgrading' || item.status == 'upgrading'"
          v-bind:aria-label="'Switch ' + item.product_title + ' to a Subscription'"
          v-bind:disabled="(item.status == 'downgrading' || item.status == 'upgrading')"
          v-on:click="updateItemDeliveryFrequency(item, selectedSubscriptionFrequency(item, 0), 'onetime')"
          type="button"
        >
          <span v-html="switchToSubscriptionLabel(item)"></span>
        </button>

        <select
          class="rebuy-select muted"
          aria-label="Subscription delivery frequency"
          v-if="item.product.subscription && item.status != 'downgrading'"
          v-model="item.product.subscription_frequency"
          v-on:change="updateItemDeliveryFrequency(item)"
        >
          <optgroup
            v-if="!item.product.is_subscription_only && !subscriptionDowngradeDisabled()"
            v-bind:label="getSwitchToSubscriptionLabel('onetime_option_group_label')"
          >
            <option
              v-bind:value="'onetime'"
              v-html="getSwitchToSubscriptionLabel('onetime_option_label')"
            ></option>
          </optgroup>
          <optgroup v-bind:label="subscriptionOptionGroupLabel(item)">
            <option
              v-for="frequency in subscriptionFrequencies(item)"
              v-bind:value="frequency"
              v-html="subscriptionOptionLabel(item, frequency, item.product.subscription_interval)"
            ></option>
          </optgroup>
        </select>
      </div>
      <!-- End Switch to Subscription -->
    </li>
  </ul>

  <!-- Empty Cart -->
  <div class="rebuy-cart__flyout-empty-cart" v-html="emptyCartMarkup()" v-if="!hasItems()"></div>

</div>